body {
  margin: 0;
  padding: 0;
}
#nav {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px 2px gray;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}
#screen-mode {
  background: skyblue;
  margin-right: 50px;
  width: 100px;
  height: 35px;
  border-radius: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#circle-btn {
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#profile {
  background: tomato;
  margin-right: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
#profile img {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  /* background: rgb(224, 224, 224); */
}
#photo-list {
  width: 940px;
  /* background: rgb(224, 224, 224); */
  margin: 0 auto;
  overflow: hidden;
}
#center {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  /* background: rgb(158, 158, 158); */
}
#heading {
  width: 100%;
  height: 70%;
  text-align: center;
  letter-spacing: 2px;
  /* border: 1px solid red; */
  /* background: rgb(224, 224, 224); */
}
#search {
  width: 100%;
  height: 30%;
  /* border: 1px solid blue; */
  text-align: center;
  /* background: rgb(224, 224, 224); */
}
#search input {
  all: unset;
  width: 400px;
  height: 50px;
  border-radius: 30px;
  padding-left: 20px;
  text-align: left;
  border: 2px solid rgb(224, 224, 224);
  color: #ff7f00;
}
#search input::placeholder {
  color: #ff7f00;
  font-size: 15px;
}
h1 {
  font-size: 40px;
}
.photo-container {
  width: 300px;
  height: 400px;
  float: left;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}
.photo-container:hover {
  transform: scale(1.01);
  opacity: 0.7;
}
.photo-container:nth-child(3n + 2) {
  margin-left: 20px;
  margin-right: 20px;
}
.photo-card {
  height: 300px;
  border-radius: 15px 15px 0px 0px;
}
.photo-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.photo-name {
  height: 100px;
  text-align: center;
  line-height: 100px;
}
